#main {
	width: 1000px;
	height: 500px;
}

#title {
	 margin-left: 430px;
}
.layui-input-inline{
	display:inline-block;
	margin-top: 10px;
	margin-left: 50px;
}

#bnt{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}